body {
   
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 15px;
    margin: 0;
}

.header{
background-color: #131313;
height: 83px;
display: flex;
justify-content: center;
}

.header-content {
width: 1260px;
display: flex;
justify-content: space-between;
align-items: center;
text-transform: uppercase;
}

.header-content .orange {
    margin-right:45px;
}

.menu {
    display: flex;
    text-decoration: none;
    list-style-type: none;
}

.menu-item {
    text-decoration: none;
    margin-right: 47px;
    color: white;
}

.button {
    background: #E3B873;
border-radius: 2px;
border: 0;
color: white;
text-transform: uppercase;
}

.but_1 {
width: 161px;
height: 37px;
}

.but_2 {
    width: 207px;
    height: 51px;
    }

.button_white {
    margin-left:30px;
    border-radius: 2px;
    border: 1px solid #FFFFFF;
    color: white;
    background-color: rgba(0, 0, 0, .0);
}

.section_1 {
    background-image: url("../IMG/1.jpg");
    margin-top: 0;
    display: flex;
    background-size: cover;
height: 707px;
justify-content: center;
position: relative;
}

.section_1::before {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
position: absolute;
    background-color: rgba(0, 0, 0, .7);
}

.in_section_1 h1 {
margin-top: 194px;
}

.in_section_1 p {
margin-top: 19px;
}

.in_section_1 {
width: 1440px;
position: relative;
z-index: 1;
}

.in_section_1 .green {
    margin-left: 134px;
}

.section_2 {
background: #131313;
height: 1074px;
display: flex;
justify-content: center;
}
.in_section_2 {
    margin-top: 107px;
    width: 1440px;
}

.in_section_2_green_ul a {
margin-right: 59px;
}

.in_section_2_green_ul {
display: flex;
justify-content: end;
margin: 0;
margin-right: 134px;
list-style-type: none;
}

.in_section_2_green {
position: relative;
left: 134px;
}
#i10 {
    display: none;
}


.img {
width: 679px;
height: 482px;
position: absolute;
top: 0px;
left: 490px;
right: 0;
bottom: 0;
}
.img_1 {
    display: none;
}

.in_section_2_pink {
    width: 487px;
    margin-top: 50px;
}

.in_section_2_pink p {
    margin-top: -14px;
}

.in_section_2_pink_orange {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

.strelki {
margin-top: 60px;
display: flex;
justify-content: space-between;
width: 200px;
}

#krug {
margin-top: 1.5px;
}

.section_3 {
    margin-top: 0px ;
    display: flex;
    justify-content: center;
    margin-top: -335px;
    
}

.in_section_3 {
    width: 1440px;
    position: relative;
}

.in_section_3 .green_1 {
    position: relative;
    left: 310px;
margin-top: 30px;
background-color: black;
width: 817px;
height: 432px;
    }
    .green_1 img {
        opacity: 0.3;
    }

 #play {
    position: absolute;
top: 260px;
left: 660px;
   }

#mob_01 {
    display: none;
}

.in_section_3 input {
border: 0;  
color: #363636;  
}

.ee1 {
    text-align: center; 
}

#ee {
    width: 30px;
    background:#E3B873;
    margin-top: 42px;
}

.ee2 {
    display: none;
}

.in_section_3 .green {
display: flex;
justify-content: center;
margin-top: -10px;
}

.but_3 {
width: 200px;
height: 51px;
}

.in_section_3 form div hr {
    width: 231px;
    border: 1px solid rgba(54, 54, 54, 0.3);
    transform: m atrix(1, 0, 0, -1, 0, 0);  
}

.in_section_3 form div {
    width: 231px;
}

.in_section_3 form{
margin-top: 93px;
    display: flex;
    justify-content: center;
}

.in_section_3 form button {
    margin-left:70px;
}

.in_section_3 .green_3 {
    display: flex;
    justify-content: center;
    margin-top: 10px;    
}
.green_3_mob {
    display: none;
}
.section_4 {
    margin-top: 0px ;
    display: flex;
    justify-content: center; 
}

.in_section_4 {
    width: 1440px;
    display: flex;
   flex-direction: column;
   align-items: center;
   margin-top: 130px;
}

.in_section_4 .green {
    display: flex;
    margin-top: 25px;
}

.pink {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 15px 0px 15px;
}

.in_section_4 .green .pink .red {
    background-color: #FFFFFF;
    margin-top: -127px;
    width: 330px;
    height: 286px;
    color: #959595;
}

.in_section_4 .green .pink .red h4 {
    margin-left: 27px;
    color: #363636;
}

.in_section_4 .green .pink .red ul {
    margin-top: -18px;
}

.in_section_4 .green .pink button {
margin-left: -102px;
background: #E3B873;
width: 228px;
height: 54px;
border: 0;
margin-top: -26px;
}

.in_section_4 .green_1 {
    display: flex;
    margin-top: 124px ;
    margin-left: 0px;
}

.in_section_4 .green_1 .pink {
background-image: url("../IMG/image\ 6.1.jpg");
width: 703px;
height: 645px;   
display: flex;
align-items: flex-start;
margin-left: 0px;
}

.in_section_4 .green_1 .pink .red {
display: flex;
margin-left: 240px;
margin-top: 95px;
display:table
}
.in_section_4 .green_1 .pink .red div {
width: 41.76px;
height: 41.76px;
background: #E3B873;
border: 8px solid #FFFFFF;
box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
border-radius: 30px;
text-align: center;
display:table
}

.ew1 {
    display:table-cell;
    vertical-align:middle;
}

.in_section_4 .green_1 .pink .red p {
    margin-left: 10px;
    display:table-cell;
    vertical-align:middle;
  padding-left: 10px;

}

.form_1 {
    width: 506px;
    height: 509px;   
    background: #131313;
    margin-left: 215px;
    position: relative;
    right: 100px;
    top: 110px;
    color: white;
}

.in_section_4 .green_1 .pink .red p {
    margin-left: 10px;
    margin-top:0px;
}

.in_section_4 .green_2 {
    margin-left: 700px;
}

.form_1 .form_ {
    color: rgba(255, 255, 255, 0.5);
    margin-left: 49px;
    margin-top: 40px;
    }

    .form_1 .form_ input {
        background: #131313;
        border: 0;
        color: white;
        margin-left: 10px;
        }

    .u2u {
font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 23px;
color: #FFFFFF;
    }

.u1u {
   margin-left: 0px; 
   width: 408px;
   border-color: rgba(255, 255, 255, 0.2);
}

#i1 {
    margin-left: 49px;
    margin-top: 12px;
}

#i2 {
    margin-left: 258px;
    margin-top: 45px;  
}

.section_5 {
    display: flex;
    justify-content: center;
    background-image: url("../IMG/секция\ 5/image main.jpg");  
    background-size: cover;
    position: relative;
    margin-top: 242px;
}

.section_5::before {
background-color: rgba(0, 0, 0, .7);
content: "";
width: 100%;
height: 100%;
position: absolute;
}

.in_section_5 {
    width: 1440px;
    height: 866px;
    position: relative;
    z-index:1 ;
    color: white;
}

.te1 {
    line-height:38px;
    font-size: 20px;
    margin-top: 30px;
    margin-left: 80px;
    list-style-type: none;
}

.te2 {
    margin-top: 137px;
    margin-left: 100px;
}

.in_section_5 .green {
    position: absolute;
    right: 499px;
    top: -41px;

}
.in_section_5 .green_1a {
    position: absolute;
    right: 102px;
    top: -112px;
}

.section_6 {
    display: flex;
    justify-content: center ;
    position: relative;
}

.in_section_6 {
    width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.in_section_6 .green {
display: flex;
justify-content: space-between;
width: 1230px;
margin-top: -5px;
}

.in_section_6 .green .pink {
    display: flex;
    align-items: flex-start;
    position: relative;
    Width:376px;
    height: 428px;
    margin-top: 15px;
    background: #FFFFFF;
box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.04);
    
}

.i3 {
    margin-left: 18px;
    margin-top: 18px;
}

.in_section_6 .green .pink h3 {
    position: absolute;
    left: 115px;
    top: 16px;
    line-height: 23px;
    color: #181818;
}

.in_section_6 .green .pink p {
margin-left: 20px;
margin-top: 20px;
}

.i4 {
position: absolute;
margin: 0;
bottom: -50px;
left: -15px;
}

.in_section_6 .green_1 {
    margin-top: 180px;
    height: 220px;
    width: 1440px;
    background-image: url("../IMG/дома1.jpg");
    opacity: 0.08;
}

.in_section_6 .form_1 {
    width: 883px;
    height: 445px;   
    background: #131313;    
    margin-left: 0;    
    right: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form_1 .form_ input {
    background: #131313;
    border: 0;
    color: white;
    margin-left: 10px;
    }

    .form_2 {
      position: absolute;
      z-index: 2;
      top: 830px;
      left: 280px;
    }

    .form_1 .form_ {
        color: rgba(255, 255, 255, 0.5);
        margin-left: 49px;
        margin-top: 40px;
        }

        #i6 {
            display: flex;
            justify-content: center;
        }

        #er1 {
            width: 50px;
        }

        .u1u_1 {
            width: 231px;
            margin-right: 60px;
        }
        #u1u_2 {
            width: 570px;
            margin: 0px;
        }

#i8 {
    margin-top: 50px;
    margin-bottom: 50px;
}


.section_7 {
    display: flex;
    justify-content: center ;
    height: 954px;
    background-image: url("../IMG/image\ 7.2.jpg");
    background-size: cover;
    position: relative;
    margin-top: -34px;
}

.section_7::before {
    background-color: rgba(0, 0, 0, .7);
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
}

.in_section_7 {
    width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;
    margin-top: 0px;
}

.m1 {
    margin-top: 275px;
}
.m2 {
    margin-top: 26px;
}
.m3 {
    margin-top: 35px;
}

.in_section_7 img {
    margin: 0px 5px 0px 5px;
}



  .orange {
    color:#E3B873;
}

.white {
    color: #FFFFFF;
}

.black {
    color: #181818;;
}

.gray_form {
    color: rgba(255, 255, 255, 0.5);
}

.gray_ul {
    color: rgba(255, 255, 255, 0.3);
}



.big_text {
font-family: 'Yeseva One', cursive;
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 53px;
text-transform: uppercase;
}
.text {
    font-family: 'Nunito Sans', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 36px;
}

.text_3 {
    font-family: 'Yeseva One', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 37px;
    letter-spacing: -0.07em;
    text-transform: uppercase;
    }

    .text_4 {
    font-family: 'Yeseva One', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    }

.text_5 {
    font-family: 'Yeseva One', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    }

    .text_6 {
        font-family: 'Nunito Sans', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 180%;
        color: #959595;
    }

    .text_7 {
        font-family: 'Nunito Sans', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 27px;
        }

.text_8 {
    text-decoration: none;
    font-family: 'Yeseva One', cursive;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
text-transform: uppercase;
}

    .text_9 {
        font-family: 'Nunito Sans', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 27px;
    }

    .text_10 {
        font-family: 'Yeseva One', cursive;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 25px;
        text-transform: uppercase;
       }

       .text_11 {
        font-family: 'Nunito Sans', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 37px;
        }

    .form_ {
        font-family: 'Nunito Sans', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 21px;
        color: rgba(54, 54, 54, 0.5);
    }

@media screen and (max-width:1300px){
    .header{
        height: 83px;
        display: flex;
        justify-content: center;
        }
    
    .header-content .but_1 {
        display: none;
    }

    .header-content .orange {
        margin-right:18px;
        margin-left:18px;
    }

    .mob{
        text-decoration: none;
        color: white;
    }

    .menu {
        display: none;
        }

        .but_2 {
            width: 100%;
            height: 51px;
            margin-left: 0px;
            } 

    .in_section_1 .green .but_2 {
        margin-top: 32px;
    }

    .button_white {
        margin-top:30px;
    }

    .section_1 {
       height: 476px;
        }

    .in_section_1 .green {
        margin-left: 18px;
        margin-right: 18px;
        margin-top: 85px;
    }  
          
    .in_section_1 h1 {
        margin-top: 0px;
        }
     
    .in_section_2 { /*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
        margin-top: 0px;
        width: 90%;
    }

    .in_section_2_green_ul {
        display: none;
        }

    .in_section_2_green .img {
        display: none;
    }
    .strelki {
        display: none;
    }
    
    .in_section_2_green {
        position: relative;
        left: 0px;
        bottom: 50px;
        }
     
    .in_section_2_pink{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%; 
    }

    .img_1 {
        display: inline;
        position: relative;
        margin-top: 45px;
    }

    .img_1_1 {
        position: absolute;
        top: 100px;
        left: 15px;
    }

    .img_1_2{
        position: absolute;
        top: 100px;
        right: 15px;
    }

    .in_section_2_pink h2 {
        text-align: center;
    }

    #i9 {
        text-align: center; 
        margin-top: 12px;
    }
    #i11 {
        display: none;
    }
    #i10 {
        display: inline-block;
    }

    .in_section_2_pink_orange {
        margin-top: 0px;
    }

    .in_section_2_pink_orange p{
        margin-top: -2px;
    }

    .in_section_2_pink_orange h3{
        margin-top: 30px;
    }

    .section_3 {
        background: #131313;
        margin-top: -390px;
    }

    .in_section_3 {
        width: 90%;
        margin-top: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .in_section_3 .green_1 {
        display: none;
    }
    #play {
        display: none;
    }

    #mob_01 {
        display: block;
        background-color: black;
        width: 340px;
        height: 207px;
        position: relative;
        margin-top: 35px;
    }

    #mob_02_1 {
        opacity: 0.3; 
    }

    #mob_02 {
        display: block;
        position: absolute;
        top: 55px;
        left: 125px;
    }

    .ee2 {
        display: block;
        color: white;
    }
    .ee3 {
        display: none;
    }

    .in_section_3 form{
        margin-top: 60px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        }
        
        .in_section_3 form div hr {
            width: 100%;
            border: 1px solid white;
            opacity: 30%;
        }
        #io1 {
            margin-top: 50px;
        }

        .in_section_3 form div {
            width: 100%;
        }
        
        .in_section_3 form button {
            width: 100%;
            margin-left: 0;
            margin-top: 35px;
            margin-bottom: -25px;
        }

        .in_section_3 .green_3 {
            display: none;
        }

        .in_section_3 .green_3_mob {
            display: flex;
            margin-top: 0px;    
        }

        .in_section_3 .green_3_mob p {
            margin-left: 10px;
            margin-top: 16px;
        }
        .in_section_3 input {
            border: 0;  
            color: white;  
            background-color: #131313;
            }











        .big_text {
            font-size: 23px;
            line-height: 132.83%;
            }
            .text {
                font-size: 14px;
                line-height: 135.84%;
            }
        .text_3 {
            font-size: 22px;
        line-height: 138.6%;
            }
        .text_9 {
            font-size: 11px;
            line-height: 158.48%; 
        }
        .text_10 {
            font-size: 14px;
            line-height: 138.6%;
            }
        .text_11 {
        font-family: 'Nunito Sans', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 11px;
        line-height: 18.7px;
        }    
        
        .form_ {
            font-family: 'Nunito Sans', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 13px;
            line-height: 21px;
            color: rgba(255, 255, 255, 0.5);
        }


}
    

  